<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Fruit Show Page</title>
</head>

<body>
    <div class="fruit-details">
    <h1>Here is your fruit</h1>
    <h3>
        <%= foundFruit.name %>
    </h3>
    <% if(foundFruit.isReadyToEat) { %>
        <p>This fruit is ready to eat! </p>
    <% } else { %>
        <p>This fruit is not ready to eat!</p>
    <% } %>
    <div class="fruit-actions">
    <form 
    class ="delete=form"
    action="/fruits/<%=foundFruit._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= foundFruit.name %></button>
    </form>
    <a href="/fruits/<%= foundFruit._id %>/edit">Edit <%= foundFruit.name %></a>
    </div>
   
    <a class="fruits-index-link" href="/fruits">
        <div class="index-link-text">Back to Fruits</div>
      </a>
    </div>
</body>

</html>